.detailedView {
  margin: 20px auto;
  max-width: 1280px;
}

.back {
  background: none;
  border: none;
  color: #0678c4;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0;
  transition: all 0.3s;
}

.back:hover {
  transform: translateX(-5px);
}

.detail img {
  max-width: 100%;
}

.detail h1 {
  margin: 20px 0;
}

.detail p {
  margin-bottom: 20px;
  text-align: justify;
}

@media screen and (max-width: 1280px) {
  .detailedView {
    padding: 0 20px;
  }
}
